apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: jalinahirushan02/notification-service:dev-latest
          ports:
            - containerPort: 8084
          envFrom:
            - secretRef:
                name: autonova-env
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8084
            initialDelaySeconds: 40
            periodSeconds: 20
          resources:
            requests:
              cpu: "150m"
              memory: "192Mi"
