version: "3.9"

services:
  postgres:
    container_name: autonova-postgres
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  rabbitmq:
    container_name: autonova-rabbitmq
    image: rabbitmq:4.1.4-management
    ports:
      - "5672:5672"
      - "15672:15672"

  # auth-service:
  #   container_name: autonova-auth-service
  #   build:
  #     context: ../auth-service
  #   ports:
  #     - "8082:8082"
  #   environment:
  #     ConnectionStrings__Postgres: ${AUTH_SERVICE_POSTGRES:-Host=postgres;Database=auth_db;Username=auth_user;Password=auth_pass}
  #   depends_on:
  #     - postgres

  # gateway-service:
  #   container_name: autonova-gateway-service
  #   build:
  #     context: ../gateway-service
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     - auth-service
  #     - project-service

  # project-service:
  #   container_name: autonova-project-service
  #   build:
  #     context: ../services/project-service
  #   environment:
  #     ConnectionStrings__Postgres: ${PROJECT_SERVICE_POSTGRES:-Host=postgres;Database=autonova;Username=project_user;Password=project_pass}
  #     Auth__Authority: http://auth-service:8082
  #     Rabbit__HostName: rabbitmq
  #     Rabbit__UserName: guest
  #     Rabbit__Password: guest
  #     Rabbit__Exchange: autonova.events
  #     ASPNETCORE_URLS: http://+:8081
  #   ports:
  #     - "8081:8081"
  #   depends_on:
  #     - postgres
  #     - rabbitmq

volumes:
  postgres_data:
    name: autonova_postgres_data
