server:
  port: ${SERVER_PORT:8084}

spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: progressmonitoring

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:rabbitmq}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
    exchange: ${APP_RABBIT_EXCHANGE:autonova.events}
    queue: ${APP_RABBIT_QUEUE:progress.project.queue}
    routing-key: ${APP_RABBIT_ROUTING_KEY:project.*}

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${PGDATABASE:progressdb}}
    username: ${SPRING_DATASOURCE_USERNAME:${POSTGRES_USER:postgres}}
    password: ${SPRING_DATASOURCE_PASSWORD:${POSTGRES_PASSWORD:postgres}}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

#eureka:
#  client:
#    enabled: true
#    register-with-eureka: true
#    fetch-registry: true
#    serviceUrl:
#      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}
#  instance:
#    prefer-ip-address: true
