apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: sachinthalk/autonova-frontend-v1:dev-latest
          ports:
            - containerPort: 80
          env:
            - name: VITE_API_BASE_URL
              value: "http://209.38.58.147:8080"
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
