SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8084

# RabbitMQ settings
APP_RABBIT_EXCHANGE=autonova.events
APP_RABBIT_QUEUE=progress.project.queue
APP_RABBIT_ROUTING_KEY=project.*

SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest

POSTGRES_HOST=postgreshosturl
POSTGRES_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=password
PGDATABASE=neondb
