server:
  port: {$SERVER_PORT:8097}
spring:
  application:
    name: chatbot
  ai:
    ollama:
      base-url: {$SPRING_AI_OLLAMA_BASE_URL:http://localhost:11434}
      chat:
        options:
          model: llama3
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  datasource:
    url: {$DB_URL:jdbc:postgresql://localhost:5432/vector_db}
    username: {$DB_USERNAME:postgres}
    password: {$DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
logging:
  level:
    org:
      springframework:
        ai: DEBUG
      flywaydb: DEBUG
