server:
  port: 8097
spring:
  application:
    name: chatbot
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: llama3

  jpa:
    hibernate:
      ddl-auto: none

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
logging:
  level:
    org:
      springframework:
        ai: DEBUG
