spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:5173
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: '*'
            allowCredentials: true
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/auth/**
        - id: user-service
          uri: ${AUTH_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/users,/api/users/**
        - id: customer-service
          uri: ${CUSTOMER_SERVICE_URL:http://localhost:8087}
          predicates:
            - Path=/api/customers/**
        - id: project-service
          uri: ${PROJECT_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/projects/**
        - id: project-change-requests
          uri: ${PROJECT_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/change-requests/**
        - id: employee-dashboard-service
          uri: ${EMPLOYEE_DASHBOARD_SERVICE_URL:http://localhost:8084}
          predicates:
            - Path=/api/employee-dashboard/**
          filters:
            - StripPrefix=1
        - id: project-tasks
          uri: ${PROJECT_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/tasks/**
          filters:
            - StripPrefix=1
        - id: payments-billing-service
          uri: ${PAYMENTS_BILLING_SERVICE_URL:http://localhost:8069}
          predicates:
            - Path=/api/invoices/**,/webhooks/stripe/**
        - id: notification-service
          uri: ${NOTIFICATION_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/api/notifications/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: when-authorized
