spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: project-service
          uri: http://project-service:8081
          predicates:
            - Path=/api/projects/**
          filters:
            - StripPrefix=1
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/api/customers/**
          filters:
            - StripPrefix=1
