apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-service
  labels:
    app: project-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project-service
  template:
    metadata:
      labels:
        app: project-service
    spec:
      containers:
        - name: project-service
          image: jalinahirushan02/project-service:dev-latest
          ports:
            - containerPort: 8082
          envFrom:
            - secretRef:
                name: autonova-env
          readinessProbe:
            httpGet:
              path: /health
              port: 8082
            initialDelaySeconds: 40
            periodSeconds: 20
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
