apiVersion: apps/v1
kind: Deployment
metadata:
  name: time-logging-service
  labels:
    app: time-logging-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: time-logging-service
  template:
    metadata:
      labels:
        app: time-logging-service
        monitoring: enabled
    spec:
      containers:
        - name: time-logging-service
          image: jalinahirushan02/time-logging-service:dev-latest
          ports:
            - containerPort: 8083
              name: http
          envFrom:
            - secretRef:
                name: autonova-env
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            initialDelaySeconds: 60
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            initialDelaySeconds: 90
            periodSeconds: 15
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
